<nav class="navbar navbar-expand navbar-dark bg-primary">
    <a class="navbar-brand" href="#">DjangoPM</a>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto mr-5">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
          <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item text-light" href="#">Action</a>
            <a class="dropdown-item text-light" href="#">Another action</a>
            <a class="dropdown-item text-light" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>